body{
    background-color: #1d8fd875;
}
/*---------------------------------------------------------------------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*---------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------*/
/*navegate ribbon*/
ul{
    margin-top: 0;
    list-style: none;
    background-color: #01cd74;
    padding: 1.5vh;
}
.nav-elem{
    display: inline;
    padding: inherit;
    margin-left: 5px;
    margin-right: 5px;
}
.nav-elem:nth-child(even){
    background-color: #f5423e;
}
.nav-elem:nth-child(odd){
    background-color: #d454ef;
}
/*---------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------*/
/*Tablero*/
section{
    margin-left: auto;
    margin-right: auto;
}
.table{
    border-collapse: collapse;
}

.cells{
    border: solid #000;
    width: 10vh;
    height: 10vh;
}

.cell-non-top{
    border-top: none;
}

.cell-non-right{
    border-right: none;
}

.cell-non-bottom{
    border-bottom: none;
}

.cell-non-left{
    border-left: none;
}
/*---------------------------------------------------------------------------------------*/