/*
* Efecto de escribir letras dando la bienvenida ademas de eso haciendo que suene un pequeño sonido que
* complemente bien
*/
.box-center{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.padding-input{
    padding: .5rem;
}

.text-conf{
    font-size: 2vw;
    font-family: 'fantasqueSans';
}

.border-circle{
    border-radius: 10rem;
    border-style: double;
}

.bg-color-childs{
    background-color: #DFF0D8;
}

input:focus{
    outline: none;
    background-color: #95DEA5;
    border-color: #fff;
    color: #fff;
}